.crud-form {
    /*width: 50%;*/
    padding: 30px;
    color: white;
    transition: .6s;
    margin: auto;
}

input, select, option {
    padding: 5px;
    margin: 0 10px 6px 10px;
    font-family: arial, "Futura New Book", sans-serif;
    font-size: 14pt;
    border-radius: 10px;
    /*width: 600px;*/
    height: 45px;
}

label {
    font-family: arial, "Futura New Book", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

#save-product {
    margin-top: 30px;
    font-size: 1.25rem;
}

input[type=file]::-webkit-file-upload-button {
    border: 2px solid #6c5ce7;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #007bfd;
    color: #e8f0ff;
    transition: 1s;
}

input[type=file]::-webkit-file-upload-button:hover {
    background-color: #0069d7;
    color: #eef5fc;
}

input[type=file]::-webkit-file-upload-button:active {
    box-shadow: inset 0 0 0 20rem #0358b1;
}

#crudItems {
    min-height: 300px;
}

.btn {
    font-size: 22px;
    margin: 5px;
}

tr:nth-child(odd) {
    background: #1b1a1b
}

tr:nth-child(even) {
    background: #363333
}

#crudItems th {
    font-size: 22px;
    padding-bottom: 20px;
    padding-top: 50px;
}

#crudItems td {
    font-size: 18px;
}

#createNew {
    margin: 50px;
}


